@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;  
}
#input{
     background-color: #CBCE91FF;
     color: #101820FF;
     font-size: 28px;
    text-align: center;
    padding: 10px 15px;
    /* padding-bottom: 10px; */
}
.button{
    padding: 12px 12px;
    font-size: 20px;
    border-radius: 100px;
    outline: none;
    background-color: rgba(203, 206, 145, 1);
    margin-left: 5px;
}
.button:hover{
    background-color: rgba(203, 206, 145, 0.8);
}
li{
    padding-top: 12px;
    padding-left: 10px;
    font-size: 30px;
    width: auto;
    
}